.navbar.mt5.navbar-inverse{ role: :navigation }
  = link_to 'ArtElectronics eMagazine', root_path, class: 'navbar-brand'

  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        -#
          = link_to 'На главную', root_url

          - if blog_hub = Hub.with_slug(:blogs)
            %li= link_to 'Блоги', hub_url(blog_hub)

          - system_pages.each do |page|
            %li= link_to page.title, page_url(page.slug)

        -# %li= link_to 'Пользователи', users_url  

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li
          = link_to cabinet_url do
            Кабинет (#{ current_user.login })
        %li= link_to t('devise.sessions.logout'), destroy_user_session_path, method: :delete
      - else
        / %li= link_to  'Регистрация', new_user_registration_path
        %li= link_to  'Вход', new_user_session_path

