= form_for(@author) do |f|
  = render partial: 'the_notification/form', locals: { object: @author }

  .form-group 
    = f.label :name, t('authors.name')   
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :description, t('authors.description')   
    = f.text_area :description, class: 'form-control', rows: '8'

  .form-group
    = f.label :short_description, t('authors.short_description')
    = f.text_area :short_description, class: 'form-control', rows: '4'

  .form-group
    = f.submit t('authors.save'), class: 'btn btn-info' 
