- content_for :express_nav do
  %p= link_to t('authors.edit'), edit_author_path(@author)
  %p= link_to t('authors.list'), authors_path

%h1= t('authors.show')

%table.table
  %tbody
    %tr
      %td
        %strong= "#{t('authors.name')}"
      %td
        = @author.name
    %tr
      %td
        %strong= "#{t('authors.description')}"
      %td
        = raw @author.description
    %tr
      %td
        %strong= "#{t('authors.short_description')}"
      %td
        = @author.short_description
