<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @author.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @author.short_description %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
