.tags
  %b= t 'posts.tags.context.word' 
  = tags_by_context post, 'word'
.tags
  %b= t 'posts.tags.context.name' 
  = tags_by_context post, 'name'
.tags
  %b= t 'posts.tags.context.title'  
  = tags_by_context post, 'title'
