- content_for :hubs_widget do
  = render partial: 'layouts/widgets/hubs'

/ - content_for :sub_hubs_widget do
/   = render partial: 'layouts/widgets/sub_hubs'

- content_for :recent_comments_widget do
  = render partial: 'layouts/widgets/recent_comments'

- content_for :tags_widget do
  = render partial: 'layouts/widgets/tags', locals: { post: @post }

.panel.panel-success
  .panel-heading
    %h3
      = @post.title
      (#{ @post.state })
  .panel-body
    - if @post.has_future_text?
      = render partial: "posts/links_to_attachments"

    - if @post.main_image?
      %p= image_tag @post.main_image.url(:preview), class: :preview
    %p= raw @post.intro

    %p= raw @post.content
  
  .panel-footer
    .authors
      %b Авторы
      - @post.authors.each do |author|
        = link_to author.name, author
    
    = render partial: 'posts/tag_by_context', locals: { post: @post }
    
    = render partial: "posts/informer", locals: { post: @post }

= render partial: "the_comments/tree", locals: { commentable: @post, comments_tree: @comments }