- content_for :hubs_widget do
  = render partial: 'layouts/widgets/hubs'

/ - content_for :sub_hubs_widget do
/   = render partial: 'layouts/widgets/sub_hubs'

- content_for :recent_comments_widget do
  = render partial: 'layouts/widgets/recent_comments'

- content_for :tags_widget do
  = render partial: 'layouts/widgets/tags', locals: { tags_str: @post.inline_tags }

.panel.panel-success
  .panel-heading
    %h3
      = @post.title
      (#{ @post.state })
  .panel-body
    - if @post.future_text?
      %p= link_to "future test", @post.future_text

    - if @post.main_image?
      %p= image_tag @post.main_image.url(:preview), class: :preview
    %p= raw @post.intro

    %p= raw @post.content
  
  .panel-footer
    / .tags
    /   %b Теги
    /   = tags_links @post.inline_tags
    .authors
      %b Авторы
      - @post.authors.each do |author|
        = link_to author.name, author
    .tags
      %b Теги
      = tags_links @post.word_list.join(', ')
    .tags
      %b Имена
      = tags_links @post.name_list.join(', ')
    .tags
      %b Названия
      = tags_links @post.title_list.join(', ')

    = render partial: "posts/informer", locals: { post: @post }

= render partial: "the_comments/tree", locals: { commentable: @post, comments_tree: @comments }