= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: :form }) do |f|
  .form-group
    = render partial: "the_notification/form", locals: { object: @user }
  .form-group
    = f.label :login
    = f.text_field :login, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, :autofocus => true, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.submit t('devise.registrations.sign_up'), class: 'btn btn-info'

#login_separator
.row
  .col-xs-3
    = form_tag controller: 'registrations', action: 'test_mail', method: :post do
      = content_tag :button, type: :submit, class: 'btn btn-twitter' do
        %i.fa.fa-twitter
        | Login with Twitter
  .col-xs-3
    = form_tag user_omniauth_authorize_path(:facebook) do
      = content_tag :button, type: :submit, class: 'btn btn-facebook' do
        %i.fa.fa-facebook
        | Login with Facebook
  .col-xs-3
    = form_tag controller: 'registrations', action: 'test_mail', method: :post do
      = content_tag :button, type: :submit, class: 'btn btn-vk' do
        %i.fa.fa-vk
        | Login with VKontakte