= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: :form }) do |f|
  .form-group
    = render partial: "the_notification/form", locals: { object: @user }
  .form-group
    = f.label :login
    = f.text_field :login, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, :autofocus => true, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.submit t('devise.registrations.sign_up'), class: 'btn btn-info'
  = hidden_field_tag 'user[oauth_params]', '', id: :oauth_params
#login_separator
= render 'devise/shared/social_login_buttons'
